<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!orderId">Order confirmation</ion-title>
    <ion-title *ngIf="orderId">Order confirmed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!orderId">
    <ion-card>
      <ion-card-header>
        Items
      </ion-card-header>
      
      <ion-list>
        <ion-item *ngFor="let item of cartItems">
          <ion-thumbnail item-start>
            <img [src]="item.product.imageUrl || 'assets/images/prod.jpg'">
          </ion-thumbnail>
          <h2>{{item.product.name}}</h2>
          <p>{{item.product.price | currency}}</p>
          <p class="nolinebreak">{{item.amount}}</p>
          <p item-end>{{item.product.price * item.amount | currency}}</p>
        </ion-item> 

        <ion-item>
          <h2>Total</h2>
          <h2 item-end>{{total() | currency}}</h2>
        </ion-item>
      </ion-list> 
    </ion-card>

    <ion-card>
        <ion-card-header>
          Client
        </ion-card-header>
        <ion-item>
          <h2>{{client?.name}}</h2>
          <p>{{client?.email}}</p>
        </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Delivery address
      </ion-card-header>
    
      <ion-item>
        <h2>{{address?.streetName}}, {{address?.number}}</h2>
        <p>{{address?.apt}} {{address?.district}} {{address?.zip}}</p>
        <p>{{address?.city.name}}, {{address?.city.state.name}}</p>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Payment
      </ion-card-header>
    
      <ion-item *ngIf="clientOrder.payment['@type'] == 'cardPayment'">
        <h3>Card payment</h3>
        <p>Installments: {{clientOrder.payment.installments}}</p>
      </ion-item>
      <ion-item *ngIf="clientOrder.payment['@type'] == 'boletoPayment'">
        <h3>Boleto payment</h3>
      </ion-item>
    </ion-card>

    <button *ngIf="!orderId" ion-button block (click)="checkout()">Checkout</button>
    <button ion-button outline block (click)="backToCart()">Back</button>
  </div>
  <div *ngIf="orderId">
    <ion-card>
      <ion-card-header>
        Your order has confirmed!
      </ion-card-header>
      <ion-item>
        <h2>Order code: {{orderId}}</h2>
        <p>Check your email</p>
      </ion-item>
    </ion-card>
    <button ion-button outline block (click)="backToHome()">Back</button>
  </div>
</ion-content>
