<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Closing order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Select an address
    </ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="handleAddressSelection(item)">
      <h2>{{item.streetName}}, {{item.number}}</h2>
      <p>{{item.apt}} {{item.district}} {{item.zip}}</p>
      <p>{{item.city.name}}, {{item.city.state.name}}</p>
    </button>
  </ion-list>
</ion-content>
