<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
      <ion-back-button  defaultHref="home"></ion-back-button>
  </ion-buttons>
    <ion-title>Closing order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Select an address
    </ion-list-header>
    <ion-item *ngFor="let item of items" (click)="handleAddressSelection(item)">
      <h2>{{item.streetName}}, {{item.number}}</h2>
      <p>{{item.apt}} {{item.district}} {{item.zip}}</p>
      <p>{{item.city.name}}, {{item.city.state.name}}</p>
    </ion-item>
  </ion-list>
</ion-content>
