<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.product?.imageUrl || 'assets/images/prod.jpg'" />
      </ion-thumbnail>
      <h2>{{item.product.name}}</h2>
      <p>{{item.product.price | currency}}</p>
      <div class="cart-amount">
        <ion-icon name="remove-circle" color="primary" (click)="decreaseQuantity(item.product)"></ion-icon>
        <p>{{item.amount}}</p>
        <ion-icon name="add-circle" color="primary" (click)="increaseQuantity(item.product)"></ion-icon>
      </div>
      <ion-icon name="trash" item-end color="danger" (click)="removeProduct(item.product)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="getTotal() > 0">
      <h1>Total</h1>
      <p>{{getTotal()}}</p>
    </ion-item>
    <ion-item *ngIf="getTotal() <= 0">
      <h1>Empty cart</h1>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="goOn()">Go on</button>
  <button *ngIf="getTotal() > 0" ion-button block color="secondary" (click)="checkout()">Checkout</button>
</ion-content>
