<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
  </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button (click)="redirectToCartPage()" mini>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-item *ngFor="let item of items" button (click)="showProducts(item.id)">
    <ion-thumbnail item-start>
      <img src="{{bucketBaseUrl}}/cat{{item.id}}.jpg" />
    </ion-thumbnail>
    <h2 class="category-name">{{ item.name }}</h2>
  </ion-item>
</ion-content>
