<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-icon name="menu"></ion-icon>
    </ion-menu-toggle>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="top" horizontal="end" edge>
    <ion-fab-button navPush="CartPage" mini>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item *ngFor="let item of items" (click)="showProducts(item.id)">
    <ion-thumbnail item-start>
      <img src="{{bucketBaseUrl}}/cat{{item.id}}.jpg" />
    </ion-thumbnail>
    <h2>{{ item.name }}</h2>
  </ion-item>
</ion-content>
