<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="container-area">

      <div class="profile">
        <div class="profile-info">
          <ion-avatar class="profile-photo">
            <img class="circle" [src]="profileImage" />
          </ion-avatar>
        </div>
        
        <div class="profile-info">
          <p class="profile-name" text-center>{{client?.name}}</p>
          <p class="profile-email">{{client?.email}}</p>
        </div>
      </div>

      <ion-card>
        <ion-card-header>
          Change profile photo
        </ion-card-header>
        <ion-item *ngIf="picture">
          <img [src]="picture">
        </ion-item>
        <ion-item>
          <ion-button expand="block" (click)="getCameraPicture()" [disabled]="cameraOn">Camera</ion-button>
          <ion-button expand="block" fill="outline" (click)="getGalleryPicture()" [disabled]="cameraOn">Gallery
          </ion-button>
          <button *ngIf="picture" ion-button block (click)="sendPicture()">Send image</button>
          <button *ngIf="picture" ion-button block (click)="cancel()">Cancel</button>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>