
.profile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.profile-info {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-photo {
  width: 200px;
  height: 200px;
}

.profile-email {
  font-size: 15px;
  margin: 5px 0;
}

.profile-name {
  font-size: 25px;
  margin: 5px 0;
  font-weight: bold;
}

