.danger {
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
    border: 1px solid rgba(175, 100, 100, 0.4);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
}