.product-img {
    max-width: 400px;
}

.product-img-area {
    display: flex;
    justify-content: center;
}

.product-info {
    margin: auto;
    max-width: 800px;
}

.product-cart {
    margin-left: 0;
    margin-right: 0;
}
