/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

ion-item {
    --highlight-color-invalid: var(--ion-color-danger); // invalid underline color
    --highlight-color-valid: var(--ion-color-primary); // valid underline color
}

.container {
    min-height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
}

.safe-area {
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}

.container-area {
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #333;
    background-color: rgba(#aaa, 0.7);
}

.logo-area {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.logo-img {
    width: 200px;
}

.card {
    margin-left: 0;
    margin-right: 0;
}

.card-item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.card-item-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.card-item-right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.card-item-name {
    margin-left: 20px;
}



.card-item-key {
    font-size: 24px;
}

.card-item-value {
    font-size: 15px;
    margin-left: 20px;
}

